body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

* {
  box-sizing: border-box;   
}

/*NAVBAR*/
.navbar {
  background-color: rgba(0,0,0,0.75);
  font-size: 25px;
  font-weight: 500;
  position: fixed;
  top: 0; 
  width: 100%; 
  display: flex;
  justify-content: center;
}

.navbar a {
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; 
  background: rgba(0,0,0); 
  margin-bottom: 0;

  display: flex;
  flex-direction: column;
}

.containerDiv{
  display: flex;
  flex-direction: column;
  margin: auto 0;
  width: 100%;
  line-height: 5em;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: white;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

/*CONTENT*/
.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background: rgba(0,0,0);
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

h2 {
  font-weight: 500;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgb(255, 255, 255);
}


/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 30px 10px;
  color: rgba(255,255,255);
  background: rgba(0,0,0);
  list-style: none;
  cursor: default;
  font-weight: 400;
  font-size: 1.4em;
}

/*CONTACT*/
.blue {
  background: #000000;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #1d6fa5;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.white-text {
  color: white;
}

.about{
  text-align: center;
}

.skillz > li{
  cursor: pointer;
  width: 10em;
  padding: 8px;
}

.skillz > li:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 1em;
}

.content-body1 {
  padding: 2px 5px 1px 3px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}
.contact-ways {
  color: #fff;
  font-size: 25px;
}

.content-body3 {
  line-height: 1.5;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
}


@media only screen and (max-width: 768px) {
  .containerDiv{
    margin: auto 0;
    line-height: 5vh;
  }
}